[Unit]
Description={{ item.name }} mount
{% if item.after is defined and item.after %}
After={{ item.after }}
{% endif %}

[Mount]
What={{ item.what }}
Where=/mnt/{{ item.name }}
Type={{ item.type }}
Options={{ item.opts | join(',') }}
{% if item.timeout is defined and item.timeout %}
TimeoutSec={{ item.timeout }}
{% endif %}

[Install]
WantedBy=multi-user.target
