{
    "alt-speed-down": 50,
    "alt-speed-enabled": false,
    "alt-speed-time-begin": 540,
    "alt-speed-time-day": 127,
    "alt-speed-time-enabled": false,
    "alt-speed-time-end": 1020,
    "alt-speed-up": 50,
    "bind-address-ipv4": "0.0.0.0",
    "bind-address-ipv6": "::",
    "blocklist-enabled": {{ transmission.settings.blocklist_enabled | default('false') | lower }},
    "blocklist-url": "{{ transmission.settings.blocklist_url | default('http://www.example.com/blocklist') }}",
    "cache-size-mb": {{ transmission.settings.cache_size_mb | default('4') }},
    "dht-enabled": true,
    "download-dir": "{{ transmission.settings.download_dir | default('/var/lib/transmission-daemon/downloads') }}",
    "download-limit": 100,
    "download-limit-enabled": 0,
    "download-queue-enabled": {{ transmission.settings.download_queue_enabled | default('true') | lower }},
    "download-queue-size": 5,
    "encryption": 1,
    "idle-seeding-limit": 30,
    "idle-seeding-limit-enabled": false,
    "incomplete-dir": "{{ transmission.settings.incomplete_dir | default('/var/lib/transmission-daemon/incomplete') }}",
    "incomplete-dir-enabled": false,
    "lpd-enabled": false,
    "message-level": 1,
    "peer-congestion-algorithm": "",
    "peer-id-ttl-hours": 6,
    "peer-limit-global": {{ transmission.settings.peer_limit_global | default('240') }},
    "peer-limit-per-torrent": {{ transmission.settings.peer_limit_per_torrent | default('60') }},
    "peer-port": 51413,
    "peer-port-random-high": 65535,
    "peer-port-random-low": 49152,
    "peer-port-random-on-start": false,
    "peer-socket-tos": "{{ transmission.settings.peer_socket_tos | default('default') }}",
    "pex-enabled": true,
    "port-forwarding-enabled": false,
    "preallocation": 1,
    "prefetch-enabled": true,
    "queue-stalled-enabled": true,
    "queue-stalled-minutes": 30,
    "ratio-limit": {{ transmission.settings.ratio_limit | default('2') }},
    "ratio-limit-enabled": {{ transmission.setting.ratio_limit_enabled | default('false') | lower }},
    "rename-partial-files": true,
    "rpc-authentication-required": {{ transmission.settings.rpc_authentication_required | default('true') | lower }},
    "rpc-bind-address": "0.0.0.0",
    "rpc-enabled": {{ transmission.settings.rpc_enabled | default('true') | lower }},
    "rpc-host-whitelist": "{{ transmission.settings.rpc_host_whitelist | join(',') | default('') }}",
    "rpc-host-whitelist-enabled": {{ transmission.settings.rpc_host_whitelist_enabled | default('true') | lower }},
    "rpc-password": "{{ transmission_rpc_auth.pass | default('transmission') }}",
    "rpc-port": {{ transmission.settings.rpc_port | default('9091') }},
    "rpc-url": "/transmission/",
    "rpc-username": "{{ transmission_rpc_auth.user | default('transmission') }}",
    "rpc-whitelist": "127.0.0.1",
    "rpc-whitelist-enabled": {{ transmission.settings.rpc_whitelist_enabled | default('false') | lower }},
    "scrape-paused-torrents-enabled": true,
    "script-torrent-done-enabled": false,
    "script-torrent-done-filename": "",
    "seed-queue-enabled": false,
    "seed-queue-size": 10,
    "speed-limit-down": {{ transmission.settings.speed_limit_down | default('100') }},
    "speed-limit-down-enabled": {{ transmission.settings.speed_limit_down_enabled | default('false') | lower }},
    "speed-limit-up": {{ transmission.settings.speed_limit_up | default('100') }},
    "speed-limit-up-enabled": {{ transmission.settings.speed_limit_up_enabled | default('false') | lower }},
    "start-added-torrents": true,
    "trash-original-torrent-files": false,
    "umask": 18,
    "upload-slots-per-torrent": {{ transmission.settings.upload_slots_per_torrent | default('14') }},
    "utp-enabled": true
}
