[Unit]
Description=Backup up %i files using rsync

[Timer]
Unit=rsync-backup@%i.service
OnCalendar= {{ rsync_backup.on_calendar }}
RandomizedDelaySec={{ rsync_backup.randomized_delay_sec }}
Persistent=true

[Install]
WantedBy=timers.target
