# subvolume to snapshot
SUBVOLUME="{{ item.subvolume }}"

# filesystem type
FSTYPE="btrfs"


# btrfs qgroup for space aware cleanup algorithms
QGROUP=""


# fraction of the filesystems space the snapshots may use
SPACE_LIMIT="0.5"

# fraction of the filesystems space that should be free
FREE_LIMIT="0.2"


# users and groups allowed to work with config
ALLOW_USERS=""
ALLOW_GROUPS=""

# sync users and groups from ALLOW_USERS and ALLOW_GROUPS to .snapshots
# directory
SYNC_ACL="no"


# start comparing pre- and post-snapshot in background after creating
# post-snapshot
BACKGROUND_COMPARISON="yes"


# run daily number cleanup
NUMBER_CLEANUP="yes"

# limit for number cleanup
NUMBER_MIN_AGE="1800"
NUMBER_LIMIT="{{ item.number.limit | default(50) }}"
NUMBER_LIMIT_IMPORTANT="{{ item.number.limit_important | default(10) }}"


# create hourly snapshots
TIMELINE_CREATE="yes"

# cleanup hourly snapshots after some time
TIMELINE_CLEANUP="yes"

# limits for timeline cleanup
# minimum age in seconds for snapshots to be deleted by the number cleanup algorithm
TIMELINE_MIN_AGE="1800"
TIMELINE_LIMIT_HOURLY="{{ item.timeline.hourly | default(10) }}"
TIMELINE_LIMIT_DAILY="{{ item.timeline.daily | default(10) }}"
TIMELINE_LIMIT_WEEKLY="{{ item.timeline.weekly | default(0) }}"
TIMELINE_LIMIT_MONTHLY="{{ item.timeline.monthly | default(10) }}"
TIMELINE_LIMIT_YEARLY="{{ item.timeline.yearly| default(10) }}"


# cleanup empty pre-post-pairs
EMPTY_PRE_POST_CLEANUP="yes"

# limits for empty pre-post-pair cleanup
EMPTY_PRE_POST_MIN_AGE="1800"
