[USER]
username = {{ proton.vpn.user }}
tier = 2
default_protocol = udp
initialized = 1
dns_leak_protection = 1
custom_dns = None
check_update_interval = 3
api_domain = https://api.protonvpn.ch
killswitch = 2
split_tunnel = 0

[metadata]
last_api_pull = 0
last_update_check = 0
