<network>
  <name>{{ virtual_machines.network }}</name>
  <bridge name='{{ virtual_machines.bridge }}'/>
  <forward mode='nat'/>
  <ip address='192.168.254.1' netmask='255.255.255.0'>
    <dhcp>
      <range start='192.168.254.2' end='192.168.254.254' />
      {% for vm in virtual_machines.guests %}
      <host mac='{{ vm.mac_addr_br }}' ip='{{ vm.ip_addr_br }}'/>
      {% endfor %}
    </dhcp>
  </ip>
</network>
