[Service]
Environment="RESTIC_REPOSITORY={{ restic_config.repo.host }}:{{ restic_config.repo.path }}"
Environment="RESTIC_PASSWORD={{ restic_creds.pass | replace('%', '%%') }}"
Environment="RESTIC_CACHE_DIR=/tmp/restic"

{% if restic_creds.b2 -%}
Environment="B2_ACCOUNT_ID={{ restic_creds.b2.account_id }}"
Environment="B2_ACCOUNT_KEY={{ restic_creds.b2.account_key }}"
{%- endif %}
