[Unit]
Description=Backup paths specified under {{ restic_config_path }} to destination {{ restic_config.repo.host }}
Conflicts=restic-check.service restic-prune.service
OnSuccess=restic-prune.service

[Service]
Type=simple
ExecStart=/usr/bin/restic backup --exclude-file={{ restic_exclude_file }} --files-from={{ restic_include_file }} --tag {{ restic_config.tags | flatten | join(',') }} --verbose

[Install]
WantedBy=multi-user.target
