[Unit]
Description=Prune old backup snapshots
Conflicts=restic-check.service restic-backup.service

[Service]
Type=simple
ExecStart=/usr/bin/restic forget --prune {{ restic_config.prune_policy | flatten | join(' ') }} --group-by host,tags --verbose

[Install]
WantedBy=restic-backup.service
