[Unit]
Description=Check repository {{ restic_config.repo.host }} for errors
Conflicts=restic-backup.service restic-prune.service
OnSuccess=restic-backup.service

[Service]
Type=simple
ExecStartPre=/usr/bin/restic unlock
ExecStart=/usr/bin/restic check --verbose

[Install]
WantedBy=multi-user.target
