user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

include /usr/share/nginx/modules/*.conf;

events {
    worker_connections 1024;
}

http {
    resolver {{ network_handler.resolver }};
    include /etc/nginx/conf.d/*.conf;
}
