 server {
        listen          443 ssl http2;
        listen          [::]:443 ssl http2;
        server_name     {{ item.name }}.{{ network_handler.domain.name }};

        location / {
            set $upstream_{{ item.name }} {{ item.proxy }};
            proxy_pass $upstream_{{ item.name }};
            {% if item.options is defined -%}
            {%- for opt in item.options -%}
            {{ opt }}
            {% endfor -%}
            {%- endif -%}
    }

        ssl_certificate {{ network_handler.ssl.cert }};
        ssl_certificate_key {{ network_handler.ssl.key }};
        ssl_session_cache shared:SSL:1m;
        ssl_session_timeout  10m;
        ssl_ciphers PROFILE=SYSTEM;
        ssl_prefer_server_ciphers on;

        # FIXME
        # Load configuration files for the default server block.
        #include /etc/nginx/default.d/*.conf;

        error_page 404 /404.html;
            location = /40x.html {
        }

        error_page 500 502 503 504 /50x.html;
            location = /50x.html {
        }
 }
