[Unit]
Description={{ arr_name | capitalize }} daemon
After=syslog.target network-online.target
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
User={{ arr_name }}
Group={{ media_account.group }}
Type=simple
ExecStart={{ arr_exec }} -nobrowser -data={{ arr_data_dir }}
TimeoutStopSec=20
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target
