[Service]
Environment="PGPASSWORD={{ postgres_backup_creds.pass }}"
Environment="PGUSER={{ storage_host.postgres_backup.user }}"
Environment="PGHOST={{ storage_host.postgres_backup.host }}"
Environment="PG_BACKUP_OUT_PATH={{ storage_host.postgres_backup.out_path}}"
