{%- for disk in storage_host.disks %}
# {{ disk.name }}
/dev/disk/by-uuid/{{ disk.luks_uuid }} -a -o on -S on -m root -M exec /usr/libexec/smartmontools/smartdnotify -n standby,10,q -s (S/../.././04|L/../../6/03)

{% endfor %}
