[Interface]
# Key for romanenko
# Bouncing = 0
# NetShield = 1
# Moderate NAT = off
# NAT-PMP (Port Forwarding) = on
# VPN Accelerator = on
PrivateKey = {{ torrent_wireguard.private_key }}
Address = 10.2.0.2/32
DNS = 10.2.0.1

[Peer]
# CH#5
PublicKey = {{ torrent_wireguard.public_key }}
AllowedIPs = 0.0.0.0/0
Endpoint = 185.159.157.6:51820
